.carousel-item .carousel-caption {
    width: 100%;
    left: 0px;
    bottom: 0rem;
    /* background-color: aqua; */
    z-index: 10;
    border-radius: 0px 0px 0px 10px;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 29rem;
    /* background-color: black; */
    border-radius: 10px 0px 0px 10px;
  }

  @media only screen and (max-width: 767px) {
    .carousel-item {
      height: 16rem; 
    margin-bottom: 10px;}
  
    /* .carousel-item a img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 12rem;
      border-radius: 10px 10px 0px 0px;
    }*/
    .carousel-item .carousel-caption {
      width: 100%;
      left: 0px;
      bottom: 0rem;
      z-index: 10;
    }
    .carousel-item .carousel-caption p{
        font-size: 10px;
    }
     }
  

.albumCard1{
  /* margin-top: 10px; */
}

.albumCard1 img{
  border-radius: 10px 10px 0px 0px;
}
.albumCard1 .card-body{
  height: 70px;
}